
html {
 font-family: 'Inconsolata', monospace;
 font-size: 133%;
 font-size: calc(1.14em + 0.2vw + 0.2vh + 0.1vmin);
 color: hsl(0, 0%, 58.6%);
 background: black;
}
body {
 line-height: 1rem;
 font-size: 0.8rem;
}

a.deal, a.stand {
  display: block;
  margin: 1em auto;
  text-align: center;
  max-width: 33vw;

  padding: .5em 1em;
  background-color: rgb(7, 83, 10);
  border-radius: 15px;
  color: white;
  font-weight: 400;
}

.dealer, .player{
  display: block;
  margin: 1em auto;
  text-align: center;
}

.hand {
  display: block;
}

.card{
  width: 120px;
}

.card + .card {
  margin-left: -80px;
}
